@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter{
  overflow: hidden;
  border-right:0.15em solid #8b5cf6;
  white-space: nowrap;
  width:0;
  animation: typing 3s steps(20,end) forwards, blink-caret 0.75s step-end 4;
}
@keyframes typing{
  from {width:0;}
  to { width:27ch;}/*Match the number of charachter*/
}
@keyframes blink-caret{
  from, to {border-color: transparent;}
  50% {border-color:#8b5cf6;}
}